* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
ul {
  list-style: none;
}

ol {
  list-style: circle;
}

*:not(i) {
  font-family: Mohammad;
}

@font-face {
  font-family: Mohammad;
  src: url(~assets/fonts/Mohammad-Head.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

a {
  text-decoration: none;
  color: inherit !important;
}

a:hover {
  color: inherit;
}

ul {
  padding: 0;
}
