* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Mohammad;
}

@font-face {
  font-family: Mohammad;
  src: url(~assets/Mohammad-Head.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}
